<%- include('partials/head') %>

<div class="bg-slate-200 font-sans min-h-screen flex items-center justify-center">
    <div class="w-full md:w-4/5 lg:w-3/4 xl:w-2/3 h-auto flex flex-col md:flex-row rounded-lg shadow-xl overflow-hidden">
        <div class="flex flex-col justify-center items-center bg-white p-8 w-full md:w-1/2">
            <a href="/"><img src="/assets/icons/logo.svg" alt="logo" class="h-12 mb-4"></a>
            <h1 class="text-2xl mb-2">Create an Account</h1>
            <% if (error) { %>
                <div class="bg-red-500 text-white p-4 rounded mb-4">
                    <%= error %>
                </div>
            <% } %>
            <form action="/auth/register" method="POST" class="w-full max-w-xs">
                <input 
                    type="email" 
                    name="email" 
                    placeholder="email" 
                    required
                    class="border-b-1 border-rose-600 p-2 my-2 w-full outline-none"
                />
                <input 
                    type="text" 
                    name="name" 
                    placeholder="name" 
                    required
                    class="border-b-1 border-rose-600 p-2 my-2 w-full outline-none"
                />
                <input 
                    type="password" 
                    name="password" 
                    placeholder="password" 
                    required
                    class="border-b-1 border-rose-600 p-2 my-2 w-full outline-none"
                />
                <input 
                    type="password" 
                    name="confirmPassword" 
                    placeholder="Confirm password" 
                    required
                    class="border-b-1 border-rose-600 p-2 my-2 w-full outline-none"
                />
                <button type="submit" class="border-1 border-rose-600 w-full p-2 bg-red-600 text-white mt-4 hover:bg-white hover:text-red-600">Register</button>
            </form>
            <p class="text-sm mt-8">Already have an account? <a href="/auth/login" class="underline text-red-600">Login here</a></p>
            <div class="flex flex-col w-full max-w-xs mt-4 gap-4 items-center">
                <!-- <a href="/auth/google"> -->
                <button class="border-1 border-rose-600 w-full flex items-center justify-center h-8 p-2 text-sm">
                    <img src="/assets/icons/google-color-svgrepo-com.svg" alt="google logo" class="h-6 mr-2"> Register with Google
                </button>
            <!-- </a> -->
            <!-- <a href="/auth/github"> -->
                <button class="border-1 border-blue-900 w-full flex items-center justify-center h-8 p-2 text-sm">
                    <img src="/assets/icons/facebook-color-svgrepo-com.svg" alt="facebook logo" class="h-6 mr-2"> Register with Facebook
                </button>
            <!-- </a> -->
            </div>
        </div>
        <div class="hidden md:block md:w-1/2 bg-center bg-cover" style="background-image: url('/assets/imgs/books_1.jpg');">
            <div class="bg-black bg-opacity-60 flex items-center h-full">
                <p class="text-white font-cursive text-5xl mx-auto text-center">Discover new books</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>